// Page header component styling here
@import "../../variables";

.header {
    background-color: $page-title-bg;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .header-typo {
        color: $mobile-font;
        height: 50px;
        font-size: 22px;
        letter-spacing: 1px;
    }

    // Media Queries
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .header-typo {
            color: $mobile-font;
            height: 100px;
            font-size: 30px;
            letter-spacing: 1px;
        }
    }
}
