// Navbar styling

// Imports
@import '../../variables';


// background colors for navbar
.mobile-bg {
    background-color: $mobile-bg;
    color: $mobile-font
}


// Hamburger menu styling
.navbar-toggler {
    border: 0px !important;
    border-radius: 0px !important;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}

// Media Queries
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cen-x-end {
    display: flex !important;
    justify-content: flex-end !important;
  }

  .mobile-bg {
      background-color: $desktop-bg;
      color: $desktop-font
  }
}