<!-- Start of Projects component -->
<section class="project p-sm">
    <app-page-header [header]="pageHeader"></app-page-header>
    <header>
        <h3 class="portfolio-heading m-b-xl">{{ pageHeader }}</h3>
    </header>
    <div class="row m-none">
        <div class="col-12 col-sm-4 card-deck" *ngFor="let project of portfolioData?.projects">
            <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Completed at Nov 2019</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Emd of Projects component -->