<!-- Start of home page -->
<section class="m box-shadow">
    <!-- Start of Blue background section -->
    <header class="row m-none mobile-bg p-sm borad-btm-none">
        <div class="col-md-4 p-none">
            <picture class="row">
                <img class="portfolio-image" src="./assets/portfolio-person.png" alt="Profile Image">
            </picture>
        </div>
        <div class="col-md-8 p-none">
            <h2 class="cen p-t-sm portfolio-name m-b-none">{{ portfolioData?.personalInfo.name }}</h2>
            <h3 class="cen p-t-sm portfolio-designation">{{ portfolioData?.personalInfo.education }}</h3>
            <div class="cen portfolio-social-media row m-none">
                <a class="links cen m-l-xs" (click)="socialMedia(portfolioData?.socialMedia.twitter)">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="links cen m-l-xs" (click)="socialMedia(portfolioData?.socialMedia.linkedin)">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="links cen m-l-xs" (click)="socialMedia(portfolioData?.socialMedia.googleScholar)">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="links cen m-l-xs" (click)="socialMedia(portfolioData?.socialMedia.publons)">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="links cen m-l-xs" (click)="socialMedia(portfolioData?.socialMedia.facebook)">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- End of blue background section -->

    <!-- Start of white background card -->
    <section class="card-bg p-md row m-none">
        <!-- Start of About me content and download resume button -->
        <section class="portfolio-desription col-lg-6">
            <!-- Start of About me section header -->
            <header>
                <h3 class="portfolio-heading">{{ portfolioData?.aboutMe.title }}</h3>
            </header>
            <!-- End of About me section header -->
            <p>
                {{ portfolioData?.aboutMe.description }}
            </p>
            <button class="outline-none" mat-raised-button>
                <a class="no-style" target="_blank" href="{{ portfolioData?.resumeLink }}">
                    Download Resume
                </a>
            </button>
        </section>
        <!-- End of About me content -->

        <!-- Start of personal info table -->
        <section class="home-personal-info row m-none col-lg-6">
            <table class="portfolio-desription">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td>{{ portfolioData?.personalInfo.address }}</td>
                    </tr>
                    <tr>
                        <td>e-mail</td>
                        <td>{{ portfolioData?.personalInfo.email }}</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </section>
        <!-- End of personal info table -->
    </section>
    <!-- End of white background card -->
</section>
<!-- End of home page -->