// Home Page styling

// Imports
@import "../../variables";

// background colors for navbar
.mobile-bg {
  background-color: $mobile-bg;
  border-radius: 15px;
  color: $mobile-font;
  padding-top: 50px;
}

// White background home card
.card-bg {
  background-color: $white-bg;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 40px;
}

// Portfolio home page table personal info styling
.home-personal-info {
  padding-top: 30px;
  tr td:nth-child(1) {
    min-width: 120px;
  }
  tr td {
    padding-bottom: 10px;
  }
}

// Portfolio image styling
.portfolio-image {
  border: 3px solid #fff;
  background-color: #fff;
  height: 194px;
  max-width: 200px;
  margin: 0 auto;
}

// Portfolio name styling
.portfolio-name {
    margin-top: 25px;
    font-size: 44px;
    line-height: 1.2em;
}

// Portfolio designation style
.portfolio-designation {
    font-size: 18px !important;
    margin: 0 !important;
}

// Portoflio social media div styling
.portfolio-social-media {
    height: 50px;
}

// Removing border of blue background div
.borad-btm-none {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

// Media Queries
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // Home page blue background
  .mobile-bg {
    background-color: $mobile-bg;
    border-radius: 15px;
  }

  // Removing border of blue background div
  .borad-btm-none {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
